@model MyForumSystem.Web.InputModels.Questions.AskInputModel
@{
    ViewBag.Title = "Ask question";
}

<h1>@ViewBag.Title</h1>
<hr />
@using (Html.BeginForm("Ask", "Questions", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-1">
            @Html.LabelFor(model => model.Title, new { @class = "my-labels" })
        </div>
        <div class="col-md-11">
            @Html.EditorFor(model => model.Title, new { placeholder = "Ask Title" })
        </div>
        @*@Html.ValidationMessageFor(model => model.Title)*@
    </div>
    <br />

    <div class="row">
        @Html.EditorFor(model => model.Content)
    </div>
    <br />
    <div class="row">
        <div class="col-md-1">
                @Html.LabelFor(model => model.Tags, new { @class = "my-labels" })
        </div>
        <div class="col-md-11">
            @Html.EditorFor(model => model.Tags, new { placeholder = "at least one tag, max 5 tags, separated by comma" })
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-1 col-md-offset-6">
            <input type="submit" class="btn btn-primary btn-lg" value="Ask question" />
        </div>
    </div>
}

