@model IEnumerable<MyForumSystem.Data.Models.Post>
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron text-center">
    <h2>Posts Info</h2>
    @foreach (var post in Model)
    {
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => post.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PreserveCreatedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => post.PreserveCreatedOn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => post.ModifiedOn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </dt>

            <dd>
                @Html.DisplayFor(model => post.IsDeleted)
            </dd>

        </dl>
    }
</div>